// This is any general theme stylings will go

header{
    background-color:$primary;
    a{
        color:$white;
    }
    ul li{
        list-style:none;
        display:inline;
    }
    nav {
        width:100%;
    }
}